@import "../../styles.scss";

embed {
  height: 100vh;
  margin-top: 0.5rem;
}

.tags-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.tag-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-badge {
  background-color: #e0e0e0;
  color: #333;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 0.85em;
  display: inline-block;
}

.tag-badge:nth-child(3n + 1) {
  background-color: #ffcccb;
}
.tag-badge:nth-child(3n + 2) {
  background-color: #bce3b5;
}
.tag-badge:nth-child(3n + 3) {
  background-color: #b5d8e3;
}

.pdf-container {
  width: 100%;
  height: 600px; /* or any default height you prefer */
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: white;
}

.fullscreen .pdf-container {
  height: 100%;
}

.fullscreen h1,
.fullscreen p,
.fullscreen ul,
.fullscreen button:not(:last-child) {
  display: none;
}

button:not(:last-child) {
  margin-right: 0.5rem;
}

.home-btn {
  margin-right: 0.3rem;
}

.home-btn-container {
  margin-top: 1rem;
}

dialog {
  width: 500px;
  // height: 100vh;
  justify-content: center;
  align-items: center;
}
