<ng-container *ngIf="!!pdf; else noPdf">
  <dialog #pdfDialog>
    <button class="btn btn-secondary float-right" (click)="closeDialog()">
      &times;
    </button>
    <app-pdf-upload
      (updateComplete)="onUpdateComplete()"
      [pdf]="pdf"
    ></app-pdf-upload>
  </dialog>

  <div class="container" [class.fullscreen]="isFullScreen">
    <h1>{{ pdf.title }}</h1>
    <p>{{ pdf.description }}</p>
    <div class="home-btn-container">
      <a class="btn btn-primary btn-sm home-btn" routerLink="/">Go Home</a>
      <button
        [ngClass]="pdf.isFavorite ? 'btn-success' : 'btn-secondary'"
        class="btn btn-sm"
        (click)="setFavorite()"
      >
        {{ pdf.isFavorite ? "Remove Favorite" : "Add Favorite" }}
      </button>
    </div>
    <ng-container *ngIf="pdf.tags.length > 0">
      <p class="tags-label">Tags:</p>
      <ul class="tag-list">
        <li *ngFor="let tag of pdf.tags" class="tag-badge">{{ tag.name }}</li>
      </ul>
    </ng-container>

    <ng-container *ngIf="pdf.hasFile; else noPdfFile">
      <button class="btn btn-primary" (click)="toggleFullScreen()">
        {{ isFullScreen ? "Exit Full Screen" : "Full Screen" }}
      </button>
      <button class="btn btn-success" (click)="saveProgress()">
        Save Progress
      </button>
      <button class="btn btn-warning" (click)="openDialog()">Edit</button>
      <button class="btn btn-danger" (click)="deletePdf()">Delete</button>

      <div class="pdf-container" [class.fullscreen]="isFullScreen">
        <embed
          [src]="pdfSrcSafe"
          type="application/pdf"
          width="100%"
          height="100%"
        />
      </div>
    </ng-container>
  </div>

  <ng-template #noPdfFile>
    <div class="container">
      <form (submit)="uploadPdf($event)">
        <p>No file uploaded for this pdf</p>
        <input type="file" (change)="onFileSelected($event)" />
        <button type="submit" [disabled]="!selectedFile">Upload</button>
      </form>
    </div>
  </ng-template>
</ng-container>

<ng-template #noPdf>
  <div class="container">
    <p>No PDF found</p>
  </div>
</ng-template>
