<ng-container *ngIf="!!pdf; else noPdf">
  <div class="container">
    <h1>{{ pdf.title }}</h1>
    <p>{{ pdf.description }}</p>
    <ng-container *ngIf="pdf.tags.length > 0">
      <p class="tags-label">Tags:</p>
      <ul class="tag-list">
        <li *ngFor="let tag of pdf.tags" class="tag-badge">{{ tag.name }}</li>
      </ul>
    </ng-container>

    <button (click)="deletePdf()">Delete</button>
  </div>

  <embed
    *ngIf="pdf.hasFile; else noPdfFile"
    [src]="pdfSrcSafe"
    type="application/pdf"
    width="100%"
    height="100%"
  />
  <ng-template #noPdfFile>
    <div class="container">
      <form (submit)="uploadPdf($event)">
        <p>No file uploaded for this pdf</p>
        <input type="file" (change)="onFileSelected($event)" />
        <button type="submit" [disabled]="!selectedFile">Upload</button>
      </form>
    </div>
  </ng-template>
</ng-container>

<ng-template #noPdf>
  <div class="container">
    <p>No PDF found</p>
  </div>
</ng-template>
