<div class="pdf-list-container">
  <ng-container *ngIf="!isLoading; else loading">
    <div *ngFor="let pdf of pdfs" class="pdf-card">
      <div class="pdf-card-header">
        <h2 class="pdf-title">
          <a [routerLink]="['./pdf', pdf.id]">{{ pdf.title }}</a>
        </h2>
        <p class="pdf-author">by {{ pdf.author }}</p>
      </div>
      <div class="pdf-card-content">
        <p class="pdf-description">{{ pdf.description }}</p>
        <div class="pdf-details">
          <span class="pdf-detail"
            ><i class="icon-description"></i> {{ pdf.totalPages }} pages</span
          >
          <span class="pdf-detail"
            ><i class="icon-event"></i> Created on
            {{ pdf.createdOn | date : "mediumDate" }}</span
          >
          <span *ngIf="pdf.lastAccessed" class="pdf-detail">
            <i class="icon-access-time"></i> Last accessed on
            {{ pdf.lastAccessed | date : "mediumDate" }}
          </span>
        </div>
        <div class="pdf-tags">
          <span *ngFor="let tag of pdf.tags" class="pdf-tag">{{
            tag.name
          }}</span>
        </div>
      </div>
      <div class="pdf-card-actions">
        <a class="btn btn-primary" [routerLink]="['./pdf', pdf.id]"> View </a>
        <button
          class="btn"
          [ngClass]="pdf.isFavorite ? 'btn-success' : 'btn-secondary'"
          *ngIf="pdf.hasFile"
          (click)="setFavorite(pdf)"
        >
          {{ pdf.isFavorite ? "Unfavorite" : "Favorite" }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div *ngFor="let _ of [].constructor(9)" class="pdf-card-skeleton"></div>
  </ng-template>
</div>
