.tags-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.tag-list {
  list-style-type: none;
  margin-top: 0.2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-badge {
  background-color: #e0e0e0;
  color: #333;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 0.85em;
  display: inline-block;
}

.tag-badge:nth-child(3n + 1) {
  background-color: #ffcccb;
}
.tag-badge:nth-child(3n + 2) {
  background-color: #bce3b5;
}
.tag-badge:nth-child(3n + 3) {
  background-color: #b5d8e3;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
